# Path init
typeset -U path PATH
path=(~/.local/bin $path)
{{- if eq .chezmoi.os "darwin" }}

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# XDG
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state

# Rust
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
export CARGO_HOME="$XDG_DATA_HOME"/cargo
. "$CARGO_HOME/env"

{{- if eq .chezmoi.os "linux" }}

# CUDA
export CUDA_CACHE_PATH="$XDG_CACHE_HOME"/nv
{{- end }}

# NPM
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
{{- if eq .chezmoi.os "linux" }}

# GTK
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
{{- end }}

# Postgres
export PSQL_HISTORY="$XDG_DATA_HOME/psql_history"

{{- if eq .chezmoi.os "linux" }}

# Docker
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker

# Use Pulse for OpenAL (Minecraft audio)
export ALSOFT_DRIVERS=pulse

# Android Studio
export ANDROID_HOME="$XDG_DATA_HOME"/android/Sdk
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
path=($ANDROID_HOME/platform-tools $path)
{{- end }}

# GnuPG
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
{{- if eq .machine_type "work" }}

# Itential
export ITENTIAL_FOLDER=$HOME/itential
path=($ITENTIAL_FOLDER/itential-env/scripts $path)

# Python user bin
path=(/Users/jake.cheek/Library/Python/3.9/bin $path)
{{- end }}

# Path export
export PATH
